/***************** VARIABLES PRINCIPALES *****************/
:root {
    /* FUENTES PRINCIPALES */
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrofos: 'Open Sans', sans-serif;
    /* PALETA DE COLORES */
    --colorBlanco: #ffffff;
    --colorOscuro: #212121;
    --colorPrimario: #FFC107;
    --colorPrimarioOscuro: #e6ae07;
    --colorSecundario: #13626E;
    --colorGris: #2a2a2a;
    --colorGrisClaro: #f5f5f7;
}
/*********************************************************/


/************ CORRECCIÓN DE MÁRGEN Y PADDING ***********/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, *::after {
    box-sizing: inherit;
}
/*********************************************************/


/************************ FUENTES ************************/
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  /* pt-sans-700 - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v17-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
/*********************************************************/


/*********************** UTILIDADES **********************/
.b-radius {
    border-radius: 0.5rem;
}
.color-rojo {
    color: red;
}
.banner-reserva {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--colorGrisClaro);
    display: flex;
    justify-content: center;
}
.bolder {
    font-weight: bolder;
}
.boton {
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    border-radius: 1.3rem;
    -webkit-box-shadow: 0.2rem 0.2rem 1.8rem var(--colorGris);
    -moz-box-shadow: 0.2rem 0.2rem 1.8rem var(--colorGris);
    box-shadow: 0.2rem 0.2rem 1.8rem var(--colorGris);
    font-family: var(--fuenteParrofos);
    color: var(--colorOscuro);
    font-weight: 900;
    background: var(--colorPrimarioOscuro);
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    width: 90%;
    transition: width 0.5s, background-color 0.5s;
}
.boton:hover {
    background: var(--colorPrimario);
    text-decoration: none;
    width: 100%;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
        padding: 1.6rem 3.2rem;
        transition: width 0.5s, background-color 0.5s, padding 0.5s;
    }
    .boton:hover {
        background: var(--colorPrimario);
        width: auto;
        padding: 1.6rem 4rem;
    }
}
.color-blanco {
    color: var(--colorBlanco);
}
.color-primario {
    color: var(--colorPrimario);
}
.color-oscuro {
    color: var(--colorOscuro);
}
.contenedor {
    width: min(90%, 120rem);
    margin: 2rem auto;
}
.no-margin {
    margin: 0;
}
.pagina-activa {
    color: var(--colorOscuro);
    background-color: var(--colorPrimario);
}
@media (min-width: 768px) {
    .pagina-activa {
        color: var(--colorPrimario);
        background-color: var(--colorSecundario);
    } 
}
/* WHATSAPP FLOATING ICON */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:78px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    transition: ease background-color 0.5s, ease color 0.5s, ease box-shadow 0.5s ;
}
.float:hover {
    box-shadow: 2px 2px 15px var(--colorGris);
    background-color:var(--colorBlanco);
    color: #25d366;
}
.my-float{
    margin-top: 10px;
    filter: invert(100%);
    width: 40px;
    height: 40px;
    transition: ease filter 0.5s;
}
.my-float:hover{
    filter: invert(0);
}

@media (min-width: 280px) {
    .float{
        bottom: 7.72rem;
    }
}
@media (min-width: 286px) {
    .float{
        bottom: 5.88rem;
    }
}
@media (min-width: 320px) {
    .float{
        bottom: 5.9rem;
    }
}
@media (min-width: 480px) {
    .float{
        bottom: 6.8rem;
    }
}
@media (min-width: 560px) {
    .float{
        bottom:78px;
        right: 20px;
    }
}
@media (min-width: 1024px) {
    .float{
        bottom: 8.72rem;
    }
}
@media (min-width: 1280px) {
    .float{
        bottom: 9.64rem;
    }
}
/*********************************************************/


/************************ GLOBALES ***********************/
* {
    text-decoration: none;
}
h1, h2, h3, h4, a {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    text-align: center;
}

a {
    color: var(--colorSecundario);
}
p {
    text-align: justify;
    font-family: var(--fuenteParrofos);
    hyphens: manual;/*<- editado por David */
    font-size: 1.8rem;/*<- editado por David */

}
span.no-hyphen {
    hyphens: none;
}

table, tr, th, td {
    text-align: center;
    font-family: var(--fuenteHeading);
    padding: 0.25rem;
}
th {
    border: 0.15rem solid var(--colorBlanco);
    background-color: var(--colorPrimarioOscuro);
}
td {
    border: 2px solid var(--colorBlanco);
    background-color: rgb(213, 232, 237);
}
/****** SMARTPHONE S SIZE ******/
@media (min-width: 280px) {
    p {
        font-size: 1.6rem;
    }
    h4, a {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2.6rem;
        /*margin-bottom: 1.5rem;*/
        margin: 5rem auto 3rem auto;
    }
    h1 {
        font-size: 3rem;
    }
}
/*********************************************************/


/************************ HEADING ************************/

.navbar h2 {
    font-size: 2rem;
}
.navbar h4 {
    font-size: 1.8rem;
}
/****** SMARTPHONE S SIZE ******/
@media (min-width: 280px) {
    .navbar {
        background-color: var(--colorSecundario);
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    .navbar__logo {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
    }
    .navbar__logo--img {
        filter: invert(100%);
        width: 2.6rem;
        height: auto;
    }
    .navbar__logo--texto,
    .navbar__items--item {
        color: var(--colorBlanco);
        text-align: center;
    }
    .navbar__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* column-gap: 0.5rem; */
        align-items: center;
    }

    .navbar__logo--texto {
        margin: auto 0;
    }
    .navbar__items--item {
        padding: 1rem;
    }
    .navbar__items--item:hover {
        background-color: var(--colorPrimario);
        color: var(--colorOscuro);
        border-left: 2px solid var(--colorSecundario);
        border-right: 2px solid var(--colorSecundario);
    }
}
/********* TABLET SIZE *********/
@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar__logo {
        justify-content: left;
    }
    .navbar__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        align-items: center;
        column-gap: 1rem;
    }
    .navbar__items--item:hover {
        background-color: var(--colorSecundario);
        color: var(--colorPrimario);
        border: 0;
    }
}
/*********************************************************/


/********************** MAIN-Inicio **********************/
/****** SMARTPHONE S SIZE ******/
@media (min-width: 280px) {
    .background {
        width: 100%;
        height: 40rem;
        padding-top: 7.6rem;
        object-fit: cover;
        object-position: bottom;
    }
    main {
        height: 40rem;
    }
    main h1 {
        position: relative;
        top: -24rem;
        right: auto;
    }
}
/****** SMARTPHONE L SIZE ******/
@media (min-width: 480px) {
    
}
/********* TABLET SIZE *********/
@media (min-width: 768px) {
    main {
        height: 50rem;
    }
    main h1 {
        top: -32rem;
    }
    .background {
        height: 50rem;
        padding-top: 4.07rem;
    }
}
/********* LAPTOP SIZE *********/
@media (min-width: 1024px) {
    main h1 {
        top: -33rem;
    }
    .background {
        height: 50rem;
        padding-top: 4.07rem;
    }
}
/****** WIDE SCREEN SIZE ******/
@media (min-width: 1280px) {
    main {
        height: 60rem;
    }
    main h1 {
        top: -39rem;
    }
    .background {
        height: 60rem;
    }
}
@media (min-width: 1440px) {
    main {
        height: 70rem;
    }
    main h1 {
        top: -44rem;
    }
    .background {
        height: 70rem;
    }
}
/*********************************************************/


/********************* LA EXPERIENCIA ********************/
/****** SMARTPHONE S SIZE ******/
@media (min-width: 280px) {
        .la-experiencia {
            margin: 0 auto;
        }
        .la-experiencia--img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16 / 9;
    }
}
/********* TABLET SIZE *********/
@media (min-width: 768px) {
    .la-experiencia {
        display: flex;
        flex-direction: row;
    }
    .la-experiencia picture,
    .la-experiencia div {
        flex-basis: 50%;
    }
    .la-experiencia--img {
        width: 100%;
        height: 100%;
    }
    .la-experiencia p {
        margin-top: 0.5rem;
        margin-left: 2rem;
        /* text-align: left; */
    }
}
/*********************************************************/


/********************** ACOMPAÑANOS **********************/
/****** SMARTPHONE S SIZE ******/
@media (min-width: 280px) {
    table, tr, th, td {
        font-size: 1.6rem;
        width: auto;
    }
    .ven-a-disfrutar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ven-a-disfrutar h4 {
        margin-bottom: 1rem;
    }
    .titulo-tabla {
        background-color: var(--colorGris);
        color: var(--colorPrimario);
        font-weight: bolder;
     }
    .ven-a-disfrutar__textos--titulos {
        text-align: left;
    }
    .tablas {
        display: grid;
        gap: 4rem;   
    }
}
@media (min-width: 768px) {
    .tablas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}
/*********************************************************/


/********************** QUE INCLUYE **********************/
/***** SMARTPHONE SS SIZE ******/
@media (min-width: 280px) {
    .que-incluye--img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
        
    }
    .que-incluye__grid--item {
        width: 80%;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid var(--colorGris);
        margin: 0 auto 4rem;
    }
    .que-incluye__grid--item:last-of-type {
        border-bottom: none;
    }
    .que-incluye__grid--item  h3{
        margin: 1.5rem auto;
    }

}
/********* LAPTOP SIZE *********/
@media (min-width: 1024px) { 
    .que-incluye__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        column-gap: 4rem;
    }
    .que-incluye__grid--item {
        width: 100%;
        border-bottom: none;
        margin-bottom: 0;
    }
}
/*********************************************************/


/******************** RECOMENDACIONES ********************/
@media (min-width: 280px) {
    .recomendaciones {
        margin: 5rem auto;
        text-align: center;
    }

    .recomendaciones--img {
        width: 90%;
        height: auto;
        margin: auto auto;
    }
}
.recomendaciones picture {
    margin: auto auto;
}
@media (min-width: 780px) {
    .recomendaciones h2 {
        margin-top: 0;
    }
    .recomendaciones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        grid-auto-flow: column;
    }
    .recomendaciones__grid--texto {
        grid-column: 1 / 2;
    }
    .recomendaciones picture {
        grid-column: 2 / 3;
    }
}
/*********************************************************/


/************************* FOOTER ************************/
    .Copyright {
        background-color: var(--colorOscuro);
        color: var(--colorBlanco);
        padding: 0.1rem;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        transition: bottom 1s;
    }
    .Copyright p {
        font-size: 1.6rem;
        text-align: center;
        margin: 0.5rem;
    }
    .banner-reserva:last-of-type {
        margin-bottom: 7.6rem;
    }
/*********************************************************/


/*********************** CALENDARIOS *********************/
.calendarios {
    display: grid;
    justify-content: center;
    padding-bottom: 5rem;
}
.calendarios table {
    margin: 0 auto;
}
.mes {
    margin-top: 5rem;
    text-align: center;
    padding-top: 2rem;
    border-bottom: 0.1rem solid var(--colorGris);
    margin-bottom: 2rem;
    padding-bottom: 5rem;    
}
.mes:last-of-type {
    border:none;
}
.mes-img source,
.mes-img img {
    width: 215px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 2rem;
}
.enabled:hover {
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
}
.enabled:hover a {
    font-weight: bolder;
    width: 100%;
    height: 100%;
    color: var(--colorPrimario);
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    color: var(--colorGris);
  }
@media (min-width: 480px) {
    .mes-img img {
        width: 247px;
    }
}
@media (min-width: 1024px) {
    .calendarios {
        grid-template-columns: repeat(3, 1fr);
    }
    .mes {
        border:none;
    }
    .mes-img {
        margin: 0 auto;
    }
    .mes-img img {
        width: 279px;
    }
}
@media (min-width: 1280px) {
    .mes-img img {
        width: 311px;
    }
}
/*********************************************************/


/******************** NUESTROS VALORES *******************/
.nuestros-valores,
.nuestro-equipo {
    background-color: var(--colorGrisClaro);
    padding: 5rem 0;
}
.no-margin-top {
    margin-top: 0;
}
.grid__valores {
    padding: 3rem 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .grid__valores {
        width: 80%;
    }
}
@media (min-width: 768px) {
    .grid__valores {
        width: 70%;
    }
}
@media (min-width: 1280px) {
    .grid__valores {
        width: 100%;
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
    }
}
.grid__valores--item {
    background-color: var(--colorBlanco);
    padding: 2.5rem;
}
.imagen {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: bottom;
}
.nuestro-equipo__grid--item,
.nuestro-equipo__grid--item p {
    text-align: center;
}
/*********************************************************/


/******************** NUESTRA HISTORIA *******************/
.nuestra-historia {
    padding: 2rem;
}

/*********************************************************/
.nuestro-equipo {
    padding-bottom: 12.64rem;
}
.nuestro-equipo h2 {
    margin: 2rem 0 4rem 0;
}
.nuestro-equipo__grid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 5rem;
}

.nuestro-equipo__grid--item {
    background-color: var(--colorBlanco);
    margin: 0 3rem;
    -webkit-box-shadow: 8px -4px 30px 6px rgba(202,211,219,1);
-moz-box-shadow: 8px -4px 30px 6px rgba(202,211,219,1);
box-shadow: 8px -4px 30px 6px rgba(202,211,219,1);
}

.nuestro-equipo__grid--item img {
    margin: 3rem 3rem 0 3rem;
    width: 80%;
    height: auto;
    -webkit-box-shadow: 3px -3px 12px 0 #e0dde0;
    -moz-box-shadow: 3px -3px 12px 0 #e0dde0;
    box-shadow: 3px -3px 12px 0 #e0dde0;
}
@media (min-width: 768px) {
    .nuestro-equipo__grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;
    }
    .nuestro-equipo__grid--item {
        margin: 0;
    }
}
@media (min-width: 1024px) {
    .nuestro-equipo__grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
        padding: 5rem;
    }
}